@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font family import links are above */

:root{
    --primary-color: #FfFFFF;
    --secondary-color: #000000;
}
html{
overflow-y: scroll;
    
  /* This activates snapping along the vertical axis */
  scroll-snap-type: y proximity; 
  scroll-padding-top: 15vh; /* Adjust this value to match the height of your fixed navbar */
  scroll-behavior: smooth;
  /* Optional: Makes the glide feel smoother */

}
html::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body{
    min-height: 100vh;
}
.section{
    scroll-snap-align: start;
    scroll-behavior: smooth;

}
*{
    margin: 0;
    padding: 0;
}


nav ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);z-index: 999;

}
nav ul li{
    height:10vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav a{
    height: 100%;
    padding:0 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}





.button{
    height: 100%;
    background-color: transparent;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--secondary-color); */
}

.logo{
position: absolute;
 left: 50px; 
}



.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:250px;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}
.sidebar li{
    width: 100%;
} 

.menu{
    position: absolute;
    right: 50px;
} 
.filter{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    width: 20vw;
    height: 100vh;
    
}
.pr{
    margin: 100px auto;
    width: 70vw;
    height: 80vh;
    position: absolute;
    right: 0px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */

}

